// Custom styles.

// css
/* .main-inner {
  margin: 0;
}

.header {
  margin: 0;
} */

p {
  margin: 0 0 10px 0;
}

body {
  line-height: 1.66;
}

.content-wrap {
  +mobile() {
    padding: 0;
  }
}

.post-body p a{
  color: royalblue;
  border-bottom: none;
  &:hover {
    color: steelblue;
    border-bottom: solid;
  }
}

.posts-expand .post-body {
  ul li { list-style: square; }
}

code {
  padding: 1px 4px;
  color: royalblue;
}

.site-author-image {
  border-radius: 10%;
}

.highlight .line {
  height: 18px;
}

.highlight .gutter pre {
  padding-left: 8px;
  padding-right: 8px;
  color: dimgray;
  background-color: midnightblue;
}

.highlight {
  border-radius: 5px;
  margin: 10px 0;
}
