// Custom styles.
/* .main-inner {
  margin: 0;
}

.header {
  margin: 0;
} */

.post-body p a{
  color: royalblue;
  border-bottom: none;
  &:hover {
    color: darkslateblue;
    border-bottom: solid;
  }
}

.posts-expand .post-body {
  ul li { list-style: square; }
}

code {
  padding: 1px 4px;
  color: royalblue;
}
